  <h1>Lista de productos</h1>
  <ul>
    {{#each product}}
      <li>{{this.title}}</li>
      <li>{{this.code}}</li>
      <li>{{this.description}}</li>
      <li>{{this.thumbnail}}</li>
      <li>{{this.price}}</li>
      <li>{{this.stock}}</li>
      <br>
    {{/each}}
  </ul>
 